
:root {
    --cor-primaria: #002B5B;
    --cor-secundaria: #E4DCCF;
    --cor-terciaria: #EA5455;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

html,body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--cor-primaria);

}

.navbar {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
    
}
.navbar .nav-item a{
    color: #212529;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.nav-item{
    margin: 0 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}
.navbar .nav-item .btn{
    color: #FFF;
    background-color: #EA5455;
    border: 1px solid transparent;
    border-radius: 0;
}
.nav-link.btn.btn-primary:hover, #search-form button:hover, .list-group-item a:hover, #form-box button:hover{
    background-color: #FFF;
    color: #EA5455;
    border-color: #EA5455;
}



.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    height: 200px;
    padding: 20px 0;
}


.logo{
    width: 50%;
    padding: 15px 0;
    color: var(--cor-terciaria);
    font-weight: bold;
    font-size: 40px;

}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--cor-terciaria);
    font-size: 18px;
    opacity: 1;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}


.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: var(--cor-terciaria);
}

.extras img.mulher{
    position: relative;
    bottom: -150px;
}

.social-media{
    position: absolute;
    right: 510px;
    top: 200px;
}
.social-media img{
    display: block;
    width: 40px;
    margin: 20px 0;
}

.texto-sobre{
    margin-top: 150px;
}
.texto-sobre h1 {
    font-size: 50px;
    color: var(--cor-secundaria);
}
.texto-sobre p {
    margin: 20px 0;
    color: var(--cor-secundaria);
    font-size: 16px;
    font-weight: bold;
    max-width: 600px;
}
.texto-sobre button {
    border: 0;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border-radius: 12px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: 14px;
}

.texto-sobre button:hover {
    opacity: 1;
    height: 45px;
    width: 125px;
    background-color: var(--cor-terciaria);
    
}

.footer {
    background-color: #E4DCCF;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}