
main, body {
    overflow-y: auto;
    overflow-x: auto;
    background-color: #002B5B;
}

.navbar {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

.navbar .nav-item a {
    color: #212529;
}

.nav-item {
    margin: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .nav-item .btn {
    color: #FFF;
    background-color: #EA5455;
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-link.btn.btn-primary:hover,
#search-form button:hover,
.list-group-item a:hover,
#form-box button:hover {
    background-color: #FFF;
    color: #EA5455;
    border-color: #EA5455;
}

.navbar .nav-item a{
    color: #212529;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.nav-item{
    margin: 0 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}
.navbar .nav-item .btn{
    color: #FFF;
    background-color: #EA5455;
    border: 1px solid transparent;
    border-radius: 0;
}
.nav-link.btn.btn-primary:hover, #search-form button:hover, .list-group-item a:hover, #form-box button:hover{
    background-color: #FFF;
    color: #EA5455;
    border-color: #EA5455;
}
.texto {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4DCCF;
    height: 800px;
    margin-top: 79px;
    color: #212529;
}

.texto > div {
    flex: 1;
}



.texto p {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    max-width: 600px;
    margin-left: 100px;
}

.worker {
    margin-top: auto;
    margin-left: 20px;
    margin-right: 50px;
}



.card {
    margin: 80px auto;
    position: relative; /* Adicionado para corrigir a sobreposição */
    
}

.card-img-top {
    height: 400px;
    object-fit: cover;
    max-width: 100%; /* Adicionado para ajustar a largura da imagem */
    
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}


.carousel-inner .active,
.carousel-inner .active + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item {
    display: flex;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}


.footer {
    background-color: #E4DCCF;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 0;
}